<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Startsida</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>Startsida</li>
                </ul>
            </nav>
        </header>
        <main>

        </main>
        <footer>
            <ul>
                <li>VT2025 DT207G</li>
                <li>Backend-baserad webbutveckling</li>
            </ul>
    </footer>
    </body>
</html>