.addcourse-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 70px;
    margin: 0px 30px;
    background-color: #F0E6EF;
    border-radius: 0px 5px 5px 5px;
}

.addcourse-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.input-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #E2E2E2;    /* light */
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 300px;
    height: 40px;
    background-color: #FFFFFF;
    text-align: center;
}

input:focus {
    outline: none;
    border: 1px solid #9C89B8; /* primary */
    box-shadow: 0 0 0 2px rgba(156,137,184,0.25);
}

label {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.addcourse-button {
    background-color: #7A6A92; /* primary-dark */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 300px;
    height: 40px;
}

.addcourse-button:hover {
    background-color: #9C89B8; /* primary */
    cursor: pointer;
}
